.g {
    font-family: 'Kanit', sans-serif;
}
.oe {
    font-family: 'Roboto', sans-serif;
}



/*Commentaire*/
footer {
    background-color: rgb(240, 210, 170);
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
.actualisation {
    color: rgb(240, 210, 170);
}
.actualisation:hover {
    color: rgba(0, 0, 0);
}
.meuhmeuhfoot {
    text-decoration: wavy;
}