.g {
    font-family: 'Kanit', sans-serif;
}
.oe {
    font-family: 'Roboto', sans-serif;
}
footer {
    background-color: rgba(222, 184, 135, 0.5);
    text-align: center;
    text-shadow: 5px;
}