@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
html {
    background-color: #000;
    color: white;
    font-family: 'VT323', monospace; font-size: 1.75em;
}
.pfp {
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%,-50%);
}
.top{
    display: flex;
}
.yo {
    position: absolute;
    top: 35%;
    right: 0%;
    transform: translate(-50%,-50%);
}
.pres {
    position: absolute;
    top: 45%;
    right: 10.5%;
    transform: translate(-50%,-50%);
}