body {
    background-color: rgb(0, 217, 255);
}

.lol {
    font-family: 'Alkatra', cursive;
    font-size: xx-large;
    text-align: center;
    margin: 0;
}
.caca {
    font-family: 'Alkatra', cursive;
    margin: 0;
}