.oeoeoe {
    font-family: 'Climate Crisis', cursive;
}
.prout {
    font-family: 'Montserrat', sans-serif;
}
footer {
    background-color: burlywood;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}
