html {
    font-family: 'Montserrat', sans-serif;
}
p {
    text-align: justify;
    padding-left: 15px;
}
.head_title {
    text-align: center;
    padding-top: 10px;
}
.nd_title {
    padding-left: 45px;
}
.p_header_top {
    padding-top: 30px;
}
.p_header_bottom {
    padding-bottom: 10px;
}
h2 {
    padding-left: 30px;
}
header {
    background-color: black;
    color: aliceblue;
}