html {
    font-family: 'Montserrat', sans-serif;
}
p {
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    padding-left: 15px;
}
.head_title {
    text-align: center;
    padding-top: 10px;
}
.nd_title {
    padding-left: 45px;
}
.p_header_top {
    padding-top: 30px;
}
.p_bottom {
    padding-bottom: 10px;
}
h2 {
    padding-left: 30px;
}
header {
    background-color: black;
    color: aliceblue;
    border-radius: 20px;
    border-style: outset;
}
a {
    background: linear-gradient(to right, #caaf15, #ff0000);
        color: transparent;
        background-clip: text;
}