body {
    background-color: skyblue;
    font-family: 'Montserrat', sans-serif;
}
.en-haut {
    /*Margin + padding*/
    padding: 16em;
    margin: 1em;
    background-image: url(med/photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5em 5em 5em 5em;
}
footer {
    background-color: burlywood;
}